#banner {
    top: 0.5em;
    left: 0.5em;
    right: 0.5em;
    width: 100%;
    z-index: -1;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    padding-bottom: 1%;
}
#logo {
    position: absolute;
    top: 2.5em;
    left: 2.5em;
    max-width: 70%;
}
#body {
    width: 63%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgba(61, 65, 83, 0.75);
    padding-left: 0.5%;
    padding-bottom: 0.5%;
}
#foot {    
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgba(61, 65, 83, 0.75);
    font-weight: bold;
}
#foot p {
    padding: 5px;
}
#navbar {
    text-align: center;
    background-color: rgba(61, 65, 83, 0.75);
    margin-left: auto;
    margin-right: auto;
    padding: 0.5%;
}
.center {
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
p.center{
    max-width: 90%;
}
.centered_title {
    padding: 0.5%;
    text-align: center;
}
@media screen and (min-width: 610px) {
    #foot {
        width: max-content;
    }
}
@media screen and (min-width: 820px) {
    #navbar {
        width: max-content;
    }
}
@media screen and (max-width: 1120px) {
    #body {
        width: 100%;
    }
    .center {
        max-width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    img.center {
        margin-left: auto;
        margin-right: auto;
    }
}