* {
    font-family: "Hack", "Hack", monospace, bold;
    color: white;
}
.adjImages {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2em;
}
.adjImages img{
    max-width: 45%;
    padding: 2em;
}
@media screen and (max-width: 1120px) {
    .adjImages {
        flex-direction: column;
    }
    .adjImages img {
        max-width: 90%;
    }
}